# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Node.js
node_modules/
dist/

# Logs
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/

# JetBrains
.idea/

data/posterior_50var_1000days_1000samples.pkl
