# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Node.js
node_modules/
dist/

# Logs
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/

# JetBrains
.idea/

data/counts_5var_180day.csv
data/posterior_50var_1000days_1000samples.pkl
data/simulated_counts
data/simulated_counts.zip

# All dictionary data
*.npz